.carausel-post-2 .img-hover-slide {
    min-height: 420px;
}

.carausel-post-2 .arrow-cover-1 {
    position: absolute;
    bottom: 30px;
    right: 15px;
    z-index: 99
}

.carausel-post-2 .post-content-overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    transition-duration: 0.2s;
}

.carausel-post-2:hover .post-content-overlay {
    bottom: 15px;
    transition-duration: 0.2s;
}

.arrow-cover-1 button,
.slider-3-arrow-cover button {
    background: none;
    border: 0;
}

.arrow-cover-1 button i,
.slider-3-arrow-cover button i {
    color: white;
    font-size: 22px
}

.form-control {
    height: auto;
}

.form-control.yam-input,
.btn.yam-btn {
    font-size: 0.85rem;
}

.input-group-lg>.input-group-append>.btn {
    font-size: 0.85rem;
    height: auto;
}

.entry-header {
    /* background-color: #fff !important; */
}

.entry-header-style-2.bg-white {
    background-color: #fff;
}

.entry-header-style-2.bg-grey,
.entry-header.bg-grey {
    background-color: #f7f8f9 !important;
}

.img-hover-slide {
    min-height: 100px;
}